/* ALL */
*{
    margin: 0;
    padding: 0;
}

/* BODY */
body{
    width: 100vw;
    height: 1500px;
    /* background: linear-gradient(#e66465, #9198e5); */
    background: linear-gradient(#78a7ff, #ff8800d0);
}

/* HEADER */

/* MENU */
.header_ul{
    list-style: none;
}
.header_display_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* TAILLE */
.header_size{
    height: 150px;
} 

/* MENU CHANGEMENT */
.menu_invisible{
    position: absolute;
    opacity: 0;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
}
.menu_invisible.show{
    opacity: 1;
    transform: translateX(0);
}

/* MENU PLUS */
.plus_menu_style{
    list-style: none;
}


/* ZONE DE TEST */

.header_fixe{
    top: 100px;
    position: sticky;
}